.step-road{ 
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media screen and (max-width: 1200px){
    .step-road{  
        gap: 3px;
    }
}

@media screen and (max-width: 735px){
    .step-road{  
        flex-direction: row;
        
    }
}