@font-face {
     font-family: 'Unbounded';
     src: url(../fonts/Unbounded/Unbounded-Light.eot);
     src: url(../fonts/Unbounded/Unbounded-Light.eot?#iefix) format('embedded-opentype'),
          url(../fonts/Unbounded/Unbounded-Light.otf) format('otf'),
          url(../fonts/Unbounded/Unbounded-Light.svg#Unbounded-Light) format('svg'),
          url(../fonts/Unbounded/Unbounded-Light.ttf) format('truetype'),
          url(../fonts/Unbounded/Unbounded-Light.woff) format('woff'),
          url(../fonts/Unbounded/Unbounded-Light.woff2) format('woff2');
     font-display: block;
     font-style: normal;
     font-weight: 300;
   }
   
@font-face {
    font-family: 'Unbounded';
    src: url(../fonts/Unbounded/Unbounded-Regular.eot);
    src: url(../fonts/Unbounded/Unbounded-Regular.eot?#iefix) format('embedded-opentype'),
         url(../fonts/Unbounded/Unbounded-Regular.otf) format('otf'),
         url(../fonts/Unbounded/Unbounded-Regular.svg#Unbounded-Regular) format('svg'),
         url(../fonts/Unbounded/Unbounded-Regular.ttf) format('truetype'),
         url(../fonts/Unbounded/Unbounded-Regular.woff) format('woff'),
         url(../fonts/Unbounded/Unbounded-Regular.woff2) format('woff2');
    font-display: block;
    font-style: normal;
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Unbounded';
    src: url(../fonts/Unbounded/Unbounded-Medium.eot);
    src: url(../fonts/Unbounded/Unbounded-Medium.eot?#iefix) format('embedded-opentype'),
         url(../fonts/Unbounded/Unbounded-Medium.otf) format('otf'),
         url(../fonts/Unbounded/Unbounded-Medium.svg#Unbounded-Medium) format('svg'),
         url(../fonts/Unbounded/Unbounded-Medium.woff) format('woff'),
         url(../fonts/Unbounded/Unbounded-Medium.woff2) format('woff2'),
         url(../fonts/Unbounded/Unbounded-Medium.ttf) format('truetype');
    font-display: block;
    font-style: normal;
    font-weight: 500;
  }

  @font-face {
    font-family: 'Unbounded';
    src: url(../fonts/Unbounded/Unbounded-SemiBold.eot);
    src: url(../fonts/Unbounded/Unbounded-SemiBold.eot?#iefix) format('embedded-opentype'),
         url(../fonts/Unbounded/Unbounded-SemiBold.otf) format('otf'),
         url(../fonts/Unbounded/Unbounded-SemiBold.svg#Unbounded-SemiBold) format('svg'),
         url(../fonts/Unbounded/Unbounded-SemiBold.ttf) format('truetype'),
         url(../fonts/Unbounded/Unbounded-SemiBold.woff) format('woff'),
         url(../fonts/Unbounded/Unbounded-SemiBold.woff2) format('woff2');
    font-display: block;
    font-style: normal;
    font-weight: 600;
  }
  
  @font-face {
    font-family: 'Unbounded';
    src: url(../fonts/Unbounded/Unbounded-Bold.eot);
    src: url(../fonts/Unbounded/Unbounded-Bold.eot?#iefix) format('embedded-opentype'),
         url(../fonts/Unbounded/Unbounded-Bold.otf) format('otf'),
         url(../fonts/Unbounded/Unbounded-Bold.svg#Unbounded-Bold) format('svg'),
         url(../fonts/Unbounded/Unbounded-Bold.ttf) format('truetype'),
         url(../fonts/Unbounded/Unbounded-Bold.woff) format('woff'),
         url(../fonts/Unbounded/Unbounded-Bold.woff2) format('woff2');
    font-display: block;
    font-style: normal;
    font-weight: 600;
  }
  
//   ------------------
@font-face {
    font-family: 'HeliosC';
    src: url(../fonts/HeliosC/heliosc.eot);
    src: url(../fonts/HeliosC/heliosc.eot?#iefix) format('embedded-opentype'),
         url(../fonts/HeliosC/heliosc.otf) format('otf'),
         url(../fonts/HeliosC/heliosc.svg#heliosc) format('svg'),
         url(../fonts/HeliosC/heliosc.ttf) format('truetype'),
         url(../fonts/HeliosC/heliosc.woff) format('woff'),
         url(../fonts/HeliosC/heliosc.woff2) format('woff2');
    font-display: block;
    font-style: normal;
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'HeliosC';
    src: url(../fonts/HeliosC/heliosc_bold.eot);
    src: url(../fonts/HeliosC/heliosc_bold.eot?#iefix) format('embedded-opentype'),
         url(../fonts/HeliosC/heliosc_bold.otf) format('otf'),
         url(../fonts/HeliosC/heliosc_bold.svg#heliosc) format('svg'),
         url(../fonts/HeliosC/heliosc_bold.ttf) format('truetype'),
         url(../fonts/HeliosC/heliosc_bold.woff) format('woff'),
         url(../fonts/HeliosC/heliosc_bold.woff2) format('woff2');
    font-display: block;
    font-style: normal;
    font-weight: 700;
  }
  