h1, .h1{
    font-family: var(--title-font);
}
h2, .h2{
    font-family: var(--title-font);
}
h3, .h3{
    font-family: var(--title-font);
}
h4, .h4{
    font-family: var(--title-font);
}
h5, .h5{
    font-family: var(--title-font);
}
h6, .h6{
    font-family: var(--title-font);
}