 .btn{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem 2rem;
    min-height: 5.6rem;
    font-family: var(--title-font);
    font-size: 1.2rem;
    line-height: 1.24;
    color: var(--bg);
    background-color: var(--soft-blue);
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 4px;
    transition: var(--great-transition);
    .btn__caption{
        position: relative;
        top: 1px;
    }
    &:hover{
        background-color: var(--main-blue);
    }
    &--next{
        padding-left: 5rem;
        padding-right: 5rem;
        &::after{
            content: '';
            position: absolute;
            right: 2.4rem;
            top: 50%;
            width: 2.4rem;
            height: 2.4rem;
            background-color: var(--light);
            mask-image: url(../img/icons/next-arrow.svg);
            mask-position: center center;
            mask-repeat: no-repeat;
            mask-size: contain;
            transform: translateY(-50%);
        }
    }
    &--prev{
        padding-left: 5rem;
        padding-right: 5rem;
        &::before{
            content: '';
            position: absolute;
            left: 2.4rem;
            top: 50%;
            width: 2.4rem;
            height: 2.4rem;
            background-color: var(--light);
            mask-image: url(../img/icons/next-arrow.svg);
            mask-position: center center;
            mask-repeat: no-repeat;
            mask-size: contain;
            transform: translateY(-50%) scaleX(-1);
        }
    }
 }

 .columns-box{
    display: grid;
    grid-gap: 2.4rem;
    &--two-col { 
        grid-template-columns: repeat(2, 1fr);
    }
    &--three-col { 
        grid-template-columns: repeat(3, 1fr);
    }
 }


 .decor-line{ 
    background-color: var(--soft-grey);
    width: 100%;
    height: 1px; 
  }