.important-element{
    display: flex;
    gap: 2.4rem;
    align-items: center;
    background-color: var(--bg);
    border-radius: 4px;
    padding: 1.2rem 1.6rem;
    .important-element__caption{
        flex-grow: 1;
        font-size: 1.5rem;
        line-height: 1.17;
    }
    .priority{
        
    }
}
